[Desktop Entry]
Type=Application
Name=Setwall
Comment=Set wallpaper

Icon=/home/roi/.apps/icons/setwall.png
Exec=/home/roi/.apps/applications/setwall/setwall.sh %u
Categories=Utility;