[Desktop Entry]
Type=Application
Name=Setwall
Comment=Set wallpaper

Icon=/home/tu_usuario/.apps/setwall/setwall.png
Exec=/home/tu_usuario/.apps/setwall/setwall.sh %u
Categories=Utility;
